
<div class="row">
  <div class="col-12" style="margin: 0 auto;width: 90%;">
    <mat-card >
      <h2>Pesquisar episódio</h2>
      <form>
        <mat-form-field  appearance="outline" style="width: 100%;">
          <mat-label>Episódio</mat-label>
          <input matInput [formControl]="episodio" type="text"/>
          <mat-error>
            <app-mat-error [control]="episodio" [legendas]="[{error:'required',legendaErro:'Preencha um nome'}]"></app-mat-error>
          </mat-error>
        </mat-form-field>
        <br>
        <div class="row">
          <div class="col" style="display: grid;grid-auto-flow: column;grid-column-gap: 10px">
            <button mat-flat-button color="primary" (click)="pesquisarEpisodios()" type="button">Pesquisar</button>

            <button mat-flat-button color="primary" routerLink="/inimigos" type="button">Inimigos</button>
            <button mat-flat-button color="accent" routerLink="/episodios" type="button">Episodios</button>
            <button mat-flat-button color="accent" type="button" routerLink="/cerebro">Voltar</button>

          </div>
        </div>
      </form>

    </mat-card>
  </div>
</div>
<br>
<div class="row">
  <div class="col-12">
    <table mat-table [dataSource]="dataSource" style="width: 90%;margin:0 auto">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef  style="width: 10%;">Id</th>
        <td mat-cell *matCellDef="let episodio" style="width: 10%;">{{episodio.id}}</td>
      </ng-container>
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef style="width: 70%;">Titulo</th>
        <td mat-cell *matCellDef="let episodio" style="width: 70%;">{{episodio.title}}</td>
      </ng-container>
      <ng-container matColumnDef="number">
        <th mat-header-cell *matHeaderCellDef style="width: 20%;">Número</th>
        <td mat-cell *matCellDef="let episodio" style="width: 20%;">{{episodio.number}}</td>
      </ng-container>
      <tr *matNoDataRow>
        <td colspan="3">Nenhum mutante encontrado</td>
      </tr>
      <tr mat-header-row *matHeaderRowDef="colunas"></tr>
      <tr mat-row *matRowDef="let row; columns :colunas"></tr>
    </table>
    <mat-paginator pageSize="20" (page)="mudarPagina($event)" [length]="total" style="width: 90%;margin:0 auto"></mat-paginator>
  </div>
</div>
