<div class="row justify-content-center">
  <div class="col-md-4 col-12">
    <mat-card>
      <h2>Bem vindo</h2>
      <hr/>
      <form [formGroup]="loginFormGroup">
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>Nome</mat-label>
          <input matInput formControlName="nome" type="text">
          <mat-error>
            <app-mat-error [control]="loginFormGroup['controls']['nome']"></app-mat-error>
          </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>Senhas</mat-label>
          <input matInput formControlName="senhas" type="text"/>
          <mat-error>
            <app-mat-error [control]="loginFormGroup['controls']['senha']"></app-mat-error>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>Senha</mat-label>
          <input matInput formControlName="senha" type="text"/>
          <mat-error>
            <app-mat-error [control]="loginFormGroup['controls']['senha']"></app-mat-error>
          </mat-error>
        </mat-form-field>
        <br>
        <br>
        <div style="display: grid;grid-auto-flow: column;grid-column-gap: 10px">
          <button mat-flat-button color="primary" type="button" (click)="entrar()">Cerebro</button>
          <button mat-flat-button color="accent" type="button" routerLink="/novo-usuario">Cadastrar novo</button>
          <button mat-flat-button color="accent" type="button">Voltar</button>
        </div>

      </form>

    </mat-card>
  </div>
</div>

