// Import material theming functions
@import "src/custom-theme.scss";
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #000;
}
.mat-dialog-container{
  background: #000;
  opacity: 0.85;
}

.mat-card{
  background: #000218;
  opacity: 0.80;
}
